body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.pagetitle {
    color: white;
    border: solid;
    border-color: red;
    border-radius: 10px;
    background-color: red;
    padding: 30px;
}

.second title {
    color: greenyellow
}

.subtitle {
    color: aqua;
}

.subtitle2 {
    color: blue;
}

.subtitle3 {
    color: blue;
}

.subtitle4 {
    color: aqua;
}

.thirdtitle1 {
    color: green;
}

.outercontainer {
    margin: 30px;
    padding: 30px;
    border: solid;
}


.text2 {
    margin: 45px;
    padding: 45px;
    border: solid;
}

.text2 {
    color: white;
    border: solid;
    border-color: purple;
    border-radius: 10px;
    background-color: purple;
    padding: 40px;
}

.longtext1 {
    color: red;
}

.text3 {
    margin: 60px;
    padding: 60px;
    border: solid;
}

.text3 {
    border: solid;
    border-color: black;
    border-radius: 10px;
    background-color: black;
    padding: 60px;
}

.head2 {
    color: white;
}

.text4 {
    margin: 30px;
    padding: 30px;
    border: solid;
}

.text4 {
    color: white;
    border-color: green;
    border-radius: 10px;
    background-color: green;
    padding: 30px;
}

.longtext1 {
    margin: 50px;
    padding: 50px;
    border: solid;
}

.mainbutton {
    color: white;
    text-decoration: none;
}

.mainbutton:hover {
    color: red;
    text-decoration: none;
}

.secondbutton:hover {
    color: red;
    text-decoration: none;
}

.secondbutton {
    color: white;
    text-decoration: none;
}

.text5 {
    margin: 30px;
    padding: 30px;
    border: solid;
}

.text5 {
    color: white;
    border-color: pink;
    border-radius: 10px;
    background-color: pink;
    padding: 30px;
}

.howilearned {
    margin: 50px;
    padding: 50px;
    border: solid;
}

.howilearned {
    color: white;
    border-color: pink;
    border-radius: 10px;
    background-color: pink;
    padding: 50px;

}

.button1 {
    margin: 15px;
    padding: 15px;
    border: solid;
}

.button1 {
    color: white;
}

.button2 {
    margin: 15px;
    padding: 15px;
    border: solid;
}

.button2 {
    color: white;
}

.text1 {
    margin: 40px;
    padding: 40px;
    border: solid;
}

.text1 {
    color: white;
    border-color: black;
    border: radius 10px;
    background-color: black;
    padding: 40px;
}